@inject Microsoft.Extensions.Localization.IStringLocalizer<homeLocalizer> localizer;

<h3>@localizer[homeLocalizer.Carregando]</h3>
<RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />